*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family:'Lato', 'regular';
    background: rgba(246, 248, 251, 1) ;
    display: flex;
    justify-content: space-between;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}

aside{
    min-height: 100vh;
    width: 256px !important;
    background-color: white;
    box-shadow: 0 0 15px rgba(16, 30, 115, 0.08);
    padding-top:24px;
    box-sizing: border-box;
}

aside .side_title img{
    width: 142px;
    height: 30px;
    margin-bottom: 46px;
    cursor: pointer;
    margin-left: 24px;
}
aside .side-content,
aside .side-menu,
aside .side-footer{
    margin-left: 24px;
}
aside .side-content h4{
    color: gray;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
}

aside ul{
    list-style: none !important;
    margin-top: 20px;
    margin-bottom: 40px;
}
aside ul li{
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    margin-bottom: 14px;
    cursor: pointer;
    filter: grayscale(1);
}
aside ul li.active{
    filter: grayscale(0);
}
aside ul li.active a{
    filter: grayscale(0);
    color: rgb(51, 108, 201);
}

aside ul li a{
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;  
    font-weight: bold;
    color: rgba(82, 87, 92, 1);
}
aside ul li:hover{
    filter: grayscale(0);
}
aside ul li:hover a{
    color: rgb(51, 108, 201) !important;
}
aside ul li i{
    color: rgb(51, 108, 201);
    font-size: 14px;
}

.side-footer p i {
    margin-right: 10px;
    font-size: 14px;
    color: rgb(51, 108, 201);
}
hr{
    width: 100%;
    background-color: gray;
}
.side-footer p{
    margin-top: 20px;
}
.side-footer p a{
    color: rgba(82, 87, 92, 1);
}

/************Main***************/

main{
    width: calc(100vw - 256px);
    padding: 24px 30px 24px 36px;
}
main nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main nav .inputgroup{
  width: 350px;
  height: 40px;
  align-items: center;
  display: flex;
  background-color: white;
  border-radius: 100px;
  color: rgba(82, 87, 92, 1);
  padding: 14px;
}
main nav .inputgroup input{
    border: none;
    width: calc(100% - 14px);
    font-size: 14px;
}
main nav .inputgroup input:focus{
    outline: none;
}
main nav .inputgroup i{
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.profile{
    display: flex;
    align-items: center;
}

.profile>span{
    position: relative;
    margin-right: 27px;
    box-sizing: content-box;
}
.profile span i{
    font-size: 21px;
    transform: rotate(20deg);
    color:rgba(202, 204, 207, 1);
}
.profile span span{
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 10px;
    line-height: 12px;
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding: 2px;
    box-sizing: content-box;
    border: 3px solid rgba(246, 248, 251, 1);
}
.user_account{
    width: 40px;
    height: 40px;
    background: url(../assets/user.jpeg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    box-sizing: content-box;
    border: 3px solid #e8e8e8;
}
section.cards{
    margin: 32px 0 38px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.cards .card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 0 10px rgba(18, 30, 109, 0.239);
    flex-basis: 20%;
    height: 90px;
    border-radius: 8px;
    cursor: pointer;
}
section.cards .card .left{
    margin-right:29px;
}
section.cards .card .left svg{
    color: rgba(51, 108, 251, 1);
}
section.cards .card .right h4{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Regular';
    color: rgba(37, 40, 43, 1);
}
section.cards .card .right span{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Regular';
    line-height: 22px;
    color: rgba(51, 108, 251, 1);
}

.table-section{
    background: white;
    border-radius:8px;
    margin: 20px 0;
}

.head-title h1{
    padding: 20px;
    font-size: 20px;
    color: #25282B;
    line-height: 26px;
    font-weight: 700;
}
.table-section table{
    border-collapse: collapse;
    width:100%;
    text-align: left;
}

table thead tr{
    background: #E8E8E8;
    border-bottom: 2px solid rgba(219, 221, 224, 1);
    color: rgba(37, 40, 43, 1);
}

table tr{
  height: 56px;
  background-color: white;
  border-bottom: 2px solid rgba(232, 232, 232, 1);
}


table thead tr th:first-child{
    padding: 0 20px;
}
table tbody tr td:first-child{
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 56px;
}
table tbody tr td{
    font-size: 14px;
    color: rgba(82, 87, 92, 1);
    line-height: 20px;
}
table tbody tr td:first-child img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right:12px ;
}
table tbody tr td:last-child svg{
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}
.pagination{
    width: 100%;
    padding: 20px 20px;
    background-color: white;
}
.pagination div button{
    width: 32px;
    height: 32px;
    font-size: 14px;
    background-color:white;
     border:1px solid #e8e8e8;
     border-radius: 2px;
     cursor: pointer;
}
main{
    position: relative;
}
.message{
    position: fixed;
    z-index: 2;
    width: 64px;
    height: 64px;
    background:  rgba(51, 108, 251, 1);
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
.message i{
    font-size: 26px;
    line-height: 30px;
}


.modalPatient{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.58);
    display: none;
    justify-content: center;
}
.modalPatient.show{
    display: flex;
}
.modalPatient .modalbody {
    position: absolute;
    top: 50px;
    left: center;
    width: 45%;
    margin: 0 auto;
    background-color: white;
    min-height: 300px;
    padding: 30px 45px;
}
.modalPatient .modalbody .modal-title{
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 12px;
}
.modalPatient .modalbody .modal-header{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
}
.modalPatient .modalbody  h4{
    text-align: center;
    margin: 5px 0;
}
.modalPatient .modalbody .modal-header .box{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #56CCF2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.modal-content{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 21px;
}

.modal-content input,.modal-content select{
    width: 100%;
    background: #FDFDFD;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 15px;
    padding:10px 11px 10px 14px;
    box-sizing: border-box;
    color: rgba(187, 187, 187, 1);
}
.modal-content input:focus,.modal-content select:focus{
    outline: none;
    color: black;
}
.modal-content input:active,.modal-content select:active{
    outline: none;
    color: black;
}
.modal-action{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.modal-action button{
    color: white;
    padding: 9px 35px;
    font-size: 11px;
    line-height: 13px;
    background: #EB5757;
    border-radius: 10px;
    border: unset;
    cursor: pointer;
}
.modal-action button:last-child{
    background: #27AE60;
}